/CharityHack2012/bin
/CharityHack2012/obj
/*.suo
/_ReSharper.CharityHack2012
/CharityHack2012.Test.Unit/bin
/CharityHack2012.Test.Unit/obj
/CharityHack2012.Test.Unit/*.user
/_ReSharper.CharityHack2012
/CharityHack2012/CharityHack2012.csproj.user
*.user
