body {
  background: #fffcb4;
  margin-top: 1px;
  color: #3c3c3c; 
}

.navbar.navbar-top {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #eae79c;
  border-bottom: 2px solid #eae79c;
}

.navbar .container {
  width: 940px;
}

.navbar.navbar-top .brand {
  background-image: url(/content/img/logo-small.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  width: 344px;
  height: 41px;
  padding: 0;
  margin-right: 1.5em;
  margin-left: 0;
}

.navbar .nav {
  margin-top: 5px;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

article {
  margin-right: 3em;
}

article, aside {
  float: left;
}

#search, #news {
/*  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 0.5em 3em 1em;
  border-radius: 5px;*/
}

#news h2,
#search h2 {
  line-height: 160%;
}
#search {
  overflow: hidden;
  width: 20em;
}

#search h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

#search input {
  float: left;
  width: 94%;
}
#search input[type='button'] {
  clear: left;
  display: block;
  float: right;
  width: auto;
}

#news {
  background: rgba(238,238,238,0.4);
  padding: 0 1em 1em;
  float: right;
  margin-right: 2em;
  border-radius: 5px;
}

footer {
  clear: both;
}

#info {
  width: 70%;
  float: left;
}

#info h1 {
  margin-bottom: 0;
  font-size: 140%;
  text-transform: uppercase;
}

#info img {
  float: left;
  margin-right: 15px;
}

#actions {
  float: left;
  margin: 4.8em 4em;
}

#actions a {
  background-color: #0072bb;
  background-image: -moz-linear-gradient(top,#0072bb,#0072bb);
  background-image: -ms-linear-gradient(top,#0072bb,#0072bb);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#0072bb),to(#0072bb));
  background-image: -webkit-linear-gradient(top,#0072bb,#0072bb);
  background-image: -o-linear-gradient(top,#0072bb,#0072bb);
  background-image: linear-gradient(top,#0072bb,#0072bb);
  background-repeat: repeat-x;
  color: white;
  height: 38px;
  font-size: 18px;
  line-height: 38px;
  padding: 20px 26px;
}

