@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
           <h1>@ViewBag.Title.</h1>
        </div>
    </section>
}

@Html.ActionLink("Cancer research uk", "Index", "Charity", new { id = 1089464 }, new {  })