@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
           <h1>@ViewBag.Title.</h1>
        </div>
    </section>
}

﻿<div id="search">
    <h2>Seach charity or cause</h2>
    <input type="text" placeholder="">
    <input type="button" value="Search">
</div>

<div id="popular">
    <h2>Popular charities</h2>
    <!-- Popular.charity.limit(10).each do |-charity| -->
    <ul>
        <li>-link_to -charity.name, -charity.link</li>
    </ul>
</div>

@Html.ActionLink("Cancer research uk", "Index", "Charity", new { id = 1089464 }, new {  })

<h2>Latest news</h2>
<ul>
    <!-- News.limit(10).each do |-news| -->
    <li>
        <h3>-news.title</h3>
        <p>-news.summary</p>
        <p class="link">-link_to -news.charity_name,-news.link</p>
    </li>
</ul>
